<div class="app-container grid">

    <div class="container-offset col-10 col-offset-1">
        <div class="col-12">
            <h1>Forex Exchange</h1>
            <h4>Check out the current price on different exchanges for a currency pair</h4>
        </div>
        <div class="col-12 grid">
            <div class="col-4">
                <div class="col-12 grid">
                    <p-dropdown [showClear]="true" (onChange)="getSymbolsForExchange()"  [options]="exchanges" [(ngModel)]="selectedExchange" placeholder="Select Exchange">

                    </p-dropdown>
                </div>
                <div class="col-12 grid" style="margin-top: 1rem;">
                    <p-dropdown [showClear]="true" [options]="symbols" [(ngModel)]="selectedSymbol" placeholder="Select Symbol">

                    </p-dropdown>

                </div>


            </div>

            <div class="col-8">


            </div>
        </div>

    </div>

</div>