<div class="app-container grid">

    <div class="container-offset col-10 col-offset-1">
        <div class="col-12">
            <h1>Forex Exchange</h1>
            <h4>Check out the current price on different exchanges for a currency pair</h4>
        </div>
        <div class="col-12 grid">
            <div class="col-4">
                <div>

                </div>
                <div style="margin-top: 5rem;">




                </div>


            </div>

            <div class="col-8">


            </div>
        </div>

    </div>

</div>